.navbar-brand{
    color: #FFBF00 !important;
}
.navbar ,.dropdown-menu {
    background-color: #161100 !important;

}
.nav-item a , .dropdown-item{
    color: #f4f4f4 !important;
}
.btn-Search{
    color: #FFBF00 !important;
    border: 1px solid #a87e00 !important;
}
.btn-Search:hover{
    background-color: #FFBF00 !important;
    color: #000 !important;
}
.nav-item.active{
    color: #FFBF00 !important;
}